@import "../../../../../colors";

.job-container {
  border-radius: 8px;
  min-height: 54px;
  // max-height: 86px;
  // background: $my-grey-50;
  background: #fff;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  .jobtype {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    &.oh {
      background: #80d8ff;
    }

    &.ch {
      background: #ffd180;
    }
  }
}

.job-col-body {
  // width: 100%;
  height: 100%;
  // min-width: 100%;
  min-height: 100%;
  padding: 0 8px;
}

.job-row-1 {
  margin: 8px 0 4px 0;
  height: 18px;
  max-height: 18px;
  font-size: 0.75rem;

  .date {
    // min-width: 72px;
    // max-width: 90px;
    font-size: 0.75rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.75);
    line-height: 14px;
  }

  .iDistrict {
    min-width: 78px;
    // max-width: 78px;
    font-size: 0.75rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.75);
    line-height: 14px;

    &:hover {
      cursor: pointer;
      color: $my-primary-dark;
    }
  }

  .JRI {
    min-width: 38px;
    // max-width: 78px;
    font-size: 0.75rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.75);
    line-height: 14px;

    &:hover {
      cursor: pointer;
      color: $my-primary-dark;
    }
  }

  .JobFolder {
    &:hover {
      cursor: pointer;
      color: $my-primary-dark;
    }
  }

  .JobArchive {
    &:hover {
      cursor: pointer;
      color: $my-primary-dark;
    }
  }

  .rig {
    // min-width: 72px;
    max-width: 84px;
    font-size: 0.75rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.75);
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines to show */
  }

  .field {
    min-width: 72px;
    // max-width: 72px;
    font-size: 0.75rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.75);
    line-height: 14px;
  }
}

.job-row-2 {
  margin: 4px 0 4px 0;
  // padding: 0 8px;
  min-height: 16px;
  max-height: 48px;

  .well {
    font-size: 0.875rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.875);
    line-height: 16px;
    min-width: 72px;
    max-width: 72px;

    &:hover {
      cursor: pointer;
      color: $my-primary-dark;
    }
  }

  .title {
    font-size: 0.875rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.875);
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */

    &:hover {
      cursor: pointer;
      color: $my-primary-dark;
    }
  }
}

.job-row-3 {
  margin: 4px 0 8px 0;
  min-height: 16px;
  // background: #ccc;
}

.jobs-job-summary-list {
  margin-left: 84px;
  margin-top: 8px;
  position: relative;
}

.job-data {
  margin-left: 84px;
  padding: 0;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.875);

  .title {
    font-weight: 400;
  }

  .value {
    font-weight: 400;
  }
}
