.timeline-flex-container {
  // properties as flex container
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  // other styles
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  // min-height: 100%;
  //   width: 100%;
  //   min-width: 100%;
  overflow: hidden;
  // background: #eaeaea;
  background: #e3f2fd;
}
