<span mat-dialog-title style="text-align: center;">
    Timeline Event
</span>
<mat-dialog-content class="common-mat-dialog-content">

    <div class="cmn-form-container">

        <div class="group-of-2" fxLayout="row wrap">

            <!-- Event Date / 1 column -->
            <app-timeline-form-event-date class="cmn-form-component" fxLayout="row" [fg_fields]="fg_fields" [mode]="data.mode">
            </app-timeline-form-event-date>

            <!-- Event Type / 1 column -->
            <app-timeline-form-event-type class="cmn-form-component" fxLayout="row" [fg_fields]="fg_fields" [mode]="data.mode"
                [eventTypes]="eventTypes$ | async">
            </app-timeline-form-event-type>

        </div>

        <!-- Title / 2 columns -->
        <div class="group-of-2" fxLayout="row wrap">

            <app-form-control-title class="cmn-form-component take-2-cols" fxLayout="row" [fg_fields]="fg_fields"
                [mode]="data.mode" [min]="10" [max]="70">
            </app-form-control-title>

        </div>

        <!-- Summary / 2 columns -->
        <div class="group-of-2" fxLayout="row wrap">
            <app-form-control-summary class="cmn-form-component take-2-cols" fxLayout="row" [fg_fields]="fg_fields"
                [mode]="data.mode">
            </app-form-control-summary>
        </div>

        <!-- Hash Tags / 2 columns -->
        <div class="group-of-2" fxLayout="row wrap" *ngIf="(fg_fields.get('HashTags').value || data.mode === 'new' || data.mode === 'edit')">
            <app-form-control-hash-tags class="cmn-form-component take-2-cols" fxLayout="row" [fg_fields]="fg_fields"
                [mode]="data.mode">
            </app-form-control-hash-tags>
        </div>

        <!-- Event Image / 2 columns -->
        <div class="group-of-2" fxLayout="column" *ngIf="(fg_image.get('ImageUrl').value || data.mode !== 'view')">
            <span class="cmn-form-control-title" [ngClass]="{ rte_focused: rte_focused }">
                Event Photo
                <i>(optional)</i>
            </span>

            <app-form-control-image-picker class="cmn-form-component take-2-cols" fxLayout="column" [fg_fields]="fg_fields"
                [fg_image]="fg_image" [mode]="data.mode" (imageChanged)="imageChanged($event)">
            </app-form-control-image-picker>

            <div fxFlex="19.5px"></div>

        </div>

        <!-- Rich Text Editor / 2 columns -->
        <div class="group-of-2" fxLayout="column nowrap" fxLayoutAlign="start stretch" *ngIf="(fg_fields.get('RichText').value || data.mode !== 'view')">
            <span class="cmn-form-control-title" [ngClass]="{ rte_focused: rte_focused }">
                Event Details
                <i>(optional)</i>
            </span>
            <app-rich-text-editor-light class="cmn-form-component take-2-cols" [fg_fields]="fg_fields" (onFocus)="onRichTextFocus($event)"
                [mode]="data.mode">
            </app-rich-text-editor-light>
            <div fxFlex="19.5px"></div>
        </div>

        <!-- Locations / 1 column -->
        <div class="group-of-2" fxLayout="row wrap">
            <app-form-control-locations class="cmn-form-component" fxLayout="row" [formGroup]="fg_fields" [fg_fields]="fg_fields"
                [mode]="data.mode" [accessLevel]="accessLevel$ | async" [locationAssignedId]="locationAssignedId"
                [locations]="locations$ | async">
            </app-form-control-locations>
        </div>

        <!-- Event Reporters / 2 columns -->
        <div class="group-of-2" fxLayout="column">
            <span class="cmn-form-control-title" *ngIf="data.mode === 'view'">
                Event Reporter(s)
            </span>
            <app-form-control-user-selection class="cmn-form-component take-2-cols" fxLayout="column" [placeholder]="'Event Reporter(s)'"
                [fieldName]="'EventReportersId'" [displayName]="'Event Reporter(s)'" [fg_fields]="fg_fields" [mode]="data.mode"
                [selfUser]="selfUser$ | async" [allowNumberOfUsers]="4" (onSelectUser)="onSelectUser($event)">
            </app-form-control-user-selection>
        </div>

    </div>

</mat-dialog-content>

<mat-dialog-actions fxLayout="row wrap" fxLayoutAlign="end">
    <app-timeline-form-actions [fg_fields]="fg_fields" [fg_image]="fg_image" [initialFields]="data.item" [mode]="data.mode"
        (closeForm)="closeForm($event)" (switchFormMode)="switchFormMode($event)" (updateDataItem)="updateDataItem($event)"
        (updateDataItemImage)="updateDataItemImage($event)">
    </app-timeline-form-actions>
</mat-dialog-actions>