<span mat-dialog-title style="text-align: center;">
    HARC
</span>
<mat-dialog-content class="common-mat-dialog-content">

    <div class="cmn-form-container">

        <div class="group-of-2" fxLayout="row wrap">

            <!-- Expiry Date / 1 column -->
            <app-harcs-form-expiry-date class="cmn-form-component" fxLayout="row" [fg_fields]="fg_fields" [mode]="data.mode">
            </app-harcs-form-expiry-date>

            <!-- Status / 1 column -->
            <app-harcs-form-status class="cmn-form-component" fxLayout="row" [fg_fields]="fg_fields" [mode]="data.mode">
            </app-harcs-form-status>

        </div>

        <!-- Pending Actions / 2 columns -->
        <div class="group-of-2" fxLayout="row wrap" *ngIf="fg_fields.controls['Status'].value === 'Pending'">
            <app-harcs-form-pending class="cmn-form-component take-2-cols" fxLayout="row" [fg_fields]="fg_fields"
                [mode]="data.mode">
            </app-harcs-form-pending>
        </div>

        <!-- Title / 2 columns -->
        <div class="group-of-2" fxLayout="row wrap">

            <app-form-control-title class="cmn-form-component take-2-cols" fxLayout="row" [fg_fields]="fg_fields"
                [mode]="data.mode" [min]="10" [max]="70">
            </app-form-control-title>

        </div>

        <!-- Hash Tags / 2 columns -->
        <div class="group-of-2" fxLayout="row wrap" *ngIf="(fg_fields.get('HashTags').value || data.mode !== 'view')">
            <app-form-control-hash-tags class="cmn-form-component take-2-cols" fxLayout="row" [fg_fields]="fg_fields"
                [mode]="data.mode">
            </app-form-control-hash-tags>
        </div>

        <!-- Quest Number and QPID / 2 columns -->
        <div class="group-of-2" fxLayout="row wrap" *ngIf="(fg_fields.get('QuestNumber').value || data.mode !== 'view')">
            <app-harcs-form-quest-number class="cmn-form-component" fxLayout="row" [fg_fields]="fg_fields">
            </app-harcs-form-quest-number>

            <app-harcs-form-quest-qpid class="cmn-form-component" fxLayout="row" [fg_fields]="fg_fields">
            </app-harcs-form-quest-qpid>
        </div>

        <!-- Location / 1 column -->
        <div class="group-of-2" fxLayout="row wrap">
            <app-form-control-location class="cmn-form-component" fxLayout="row" [formGroup]="fg_fields" [fg_fields]="fg_fields"
                [mode]="data.mode" [accessLevel]="accessLevel$ | async" [locationAssignedId]="locationAssignedId"
                [locations]="locations$ | async">
            </app-form-control-location>
        </div>

        <!-- PIC / 2 columns -->
        <div class="group-of-2" fxLayout="column">
            <span class="cmn-form-control-title" *ngIf="data.mode === 'view'">
                PIC
            </span>
            <app-form-control-user-selection class="cmn-form-component take-2-cols" fxLayout="column" [fg_fields]="fg_fields"
                [mode]="data.mode" [fieldName]="'PICId'" [displayName]="'Person In Charge'" [selfUser]="selfUser$ | async"
                [allowNumberOfUsers]="1" (onSelectUser)="onSelectUser($event)">
            </app-form-control-user-selection>
        </div>

    </div>

</mat-dialog-content>

<mat-dialog-actions fxLayout="row wrap" fxLayoutAlign="end">
    <app-harcs-form-actions class="common-form-actions-container" [fg_fields]="fg_fields" [initialFields]="data.item"
        [mode]="data.mode" (closeForm)="closeForm($event)" (switchFormMode)="switchFormMode($event)" (updateDataItem)="updateDataItem($event)">
    </app-harcs-form-actions>
</mat-dialog-actions>