app-timeline-event {
  width: 100%;

  @media screen and (min-width: 600px) {
    width: auto;
  }

  &.event-last {
    margin-right: 16px;
  }
}

div.timeline__events__list--container {
  margin: 0 auto;
  padding: 16px 0 16px 16px;
  @media screen and (min-width: 600px) {
    min-width: 600px;
    max-width: 600px;
  }
}
