@import '../../../../../colors';

.harc-days-left {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  // width: 100%;
  height: 100%;
  background: #fcfcfc;
  // border-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  &.expired {
    width: 100%;
    background: $my-red-100;
  }

  &.soon-expires {
    background: $my-yellow-100;
  }
}

.corner-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 1%;
  background: #fcfcfc;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  &.expired {
    background: $my-red-100;
  }
}

.harc-row-1 {
  margin: 8px 0;
  padding: 0 8px;
  min-height: 16px;
  max-height: 32px;

  .title {
    font-size: 0.875rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.875);
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */

    &:hover {
      cursor: pointer;
      color: $my-primary-dark;
    }
  }
}

.harc-row-2 {
  margin: 0 0 4px 0;
  padding: 0 8px;
  height: 18px;
  font-size: 0.75rem;

  .status {
    min-width: 72px;
  }

  .date {
    min-width: 72px;
    font-size: 0.75rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.75);
    line-height: 14px;
  }

  .quest {
    font-size: 0.75rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.75);
    line-height: 14px;

    &.link {
      color: $my-primary;

      &:hover {
        cursor: pointer;
        color: $my-primary-dark;
      }
    }
  }

  .days-left {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.75);

    @media screen and (max-width: 374px) {
      display: none;
    }
  }
}
