.userPhoto {
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.reporters_container {
  position: relative;
}

.reporters_date_container {
  position: relative;
  height: 36px;
}

.my_stack {
  position: absolute;
  height: 36px;
  top: 0;
  //   left: 4px;
}

.reporter__container--authors {
  line-height: 16px;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 400;
  font-size: 0.75rem;
}

.reporter__container--eventdate {
  line-height: 14px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 300;
  font-size: 0.75rem;
}
