<div fxLayout="column" fxFlexFill class="listOfData">
  <mat-card *ngFor="let user of users$ | async" class="cardPadding">
    <div fxLayout="row" fxLayoutAlign="start center">
      <button mat-icon-button>
          <img *ngIf="user.Photo" [src]="user.Photo.Url" class="userPhoto">
          <img *ngIf="!user.Photo" src="../../assets/no_user_photo.png" class="userPhoto">
          <!-- <mat-icon *ngIf="!user.Photo" class="userPhoto">account_circle</mat-icon> -->
      </button>
      <span class="nameSurname" fxLayout="column">
        <span>{{ user.Name }} {{ user.Surname }}</span>
        <span class="email">{{ user.Email }}</span>
      </span>
    </div>
  </mat-card>
</div>
  