.userPhoto {
    border-radius: 50%;
    height: 32px !important;
    width: 32px !important;
}

.listOfData {
    background-color: #f5f5f5;
    padding: 0 16px 16px 16px;
}

.cardPadding {
    padding: 8px !important;
    margin-bottom: 6px; 
}

.nameSurname {
    font-size: 0.875rem;
    padding: 0 4px;
}

.email {
    padding: 2px 0;
    font-size: 0.75rem;
}

/* 
10px = 0.625rem
12px = 0.75rem
14px = 0.875rem
16px = 1rem (base)
18px = 1.125rem
20px = 1.25rem
24px = 1.5rem
30px = 1.875rem
32px = 2rem 
*/