@import '../../../../../colors';

.event-card__container {
  margin: 8px 0;
}

.event-card__hasimage {
  box-sizing: border-box;
  // min-height: 206px;
  padding: 16px;

  @media screen and (min-width: 600px) {
    max-width: 368px !important;
  }
}

.event-card__noimage {
  box-sizing: border-box;
  // min-height: 206px;
  padding: 16px;
  width: 100%;

  @media screen and (min-width: 600px) {
    // max-width: 276px !important; // half-size of container
    max-width: 368px !important;
  }
}

.event-card__media-content {
  // background: rgba(0, 0, 0, 0.4);
  background: linear-gradient(rgba(10, 110, 220, 0.625), transparent);
  height: 60px;
}

.event__type {
  // height: 42px;
  font-size: 0.875rem;
  padding: 16px;
  color: #fafafa;

  &.noimage {
    padding: 0;
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.54);
  }
}

.event__title {
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.875);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 21px; /* fallback */
  max-height: 42px; /* fallback */
  margin-bottom: 8px;

  &:hover {
    cursor: pointer;
    color: $my-primary-dark;
  }
}

.event__summary {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-height: 16px; /* fallback */
  max-height: 48px; /* fallback */
  margin-bottom: 8px;

  &:hover {
    cursor: pointer;
    color: $my-primary-dark;
  }
}

.event__hashtags {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 14px; /* fallback */
  max-height: 28px; /* fallback */
  margin-bottom: 8px;
}

.event-card__reporters--container {
  margin-top: 16px;
  height: 36px;
  max-height: 36px;
}
