.event-card__container {
  margin: 8px 16px;
}

.event-card__withphoto {
  min-height: 200px;
  padding: 16px;
  @media screen and (min-width: 600px) {
    max-width: 400px;
  }
}

.event-card__nophoto {
  min-height: 200px;
  padding: 16px;
  width: 100%;
  @media screen and (min-width: 600px) {
    max-width: 292px;
  }
}

.event__type {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.54);
}

.event__title {
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.875);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 21px; /* fallback */
  max-height: 42px; /* fallback */
}

.event__summary {
  font-size: 12px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.54);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-height: 14px; /* fallback */
  max-height: 42px; /* fallback */
}

.event-card__reporters--container {
  position: relative;
  height: 36px;
  max-height: 36px;
  bottom: 0;
}
