.formTitle {
    position: fixed;
    display: block;
    background: #f4f4f4;
}

.selectPhoto {
    cursor: pointer;
    padding: 12px;
    font-size: 0.875rem;
}

.userPhoto {
    border-radius: 50%;
    height: 180px !important;
    width: 180px !important;
}