<h3 mat-dialog-title>New User</h3>

<mat-dialog-content>
  

    <div fxLayout="row" fxLayoutGap="24px" fxLayoutWrap.xs="wrap">

      <div fxFlex="150px">

        <!-- Ready Photo -->
        <img [src]="data.image" class="userPhoto" *ngIf="photoState.photoCropped">

        <!-- Image Cropper -->
        <img-cropper
          [hidden]="photoState.photoCropped"
          #cropper
          [image]="data"
          [settings]="cropperSettings"
          (onCrop)="onCrop(data)">
        </img-cropper>
        
        <!-- Action Buttons -->
        <div fxLayoutAlign="center">
          <label for="photo" class="selectPhoto" *ngIf="!photoState.photoSelected">SELECT</label>
          <input id="photo" type="file" style="display: none;" (change)="fileChangeListener($event)"/>
          <span class=selectPhoto (click)="doCrop()" *ngIf="photoState.photoSelected && !photoState.photoCropped">CROP</span>
          <span class=selectPhoto (click)="cancelSelected()" *ngIf="photoState.photoSelected">CANCEL</span>
        </div>
        
      </div>

      <form [formGroup]="userForm" fxLayout="row" fxLayoutWrap="wrap" fxLayoutGap="24px" fxFlex>

        <span fxLayout="row" fxLayoutWrap="wrap" fxLayoutGap="24px" fxFlex="180px">
          <mat-form-field>
            <input  matInput 
                    placeholder="Name"
                    formControlName="name"
                    autocomplete="off">
            <mat-error *ngIf="userForm.get('name').invalid">{{ getErrorName() }}</mat-error>
          </mat-form-field>
      
          <mat-form-field>
            <input  matInput 
                    placeholder="Surname"
                    formControlName="surname"
                    autocomplete="off">
          </mat-form-field>

          <mat-form-field>
            <input  matInput 
                    placeholder="GIN"
                    formControlName="gin"
                    autocomplete="off">
          </mat-form-field>
        </span>

        <span fxLayout="row" fxLayoutWrap="wrap" fxFlex="180px">
          <mat-form-field>
            <input  matInput 
                    placeholder="Alias"
                    formControlName="alias"
                    autocomplete="off">
          </mat-form-field>
      
          <mat-form-field>
            <input  matInput 
                    placeholder="Email"
                    formControlName="email"
                    autocomplete="off">
          </mat-form-field>

          <mat-form-field>
            <input  matInput 
                    placeholder="Location"
                    formControlName="location"
                    autocomplete="off">
          </mat-form-field>
        </span>

    </form>

  </div>

  

</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end start">

  <button 
    mat-raised-button tabindex="-1" color="primary"
    [disabled]="userForm.invalid"
    (click)="onSave(userForm.value)">
    SAVE
  </button>

  <button mat-raised-button tabindex="-1" (click)="closeUserForm()">DISCARD</button>
</mat-dialog-actions>