.sidanav__user--photo {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: auto;
}

.sivedav__user--info {
  height: 40px;
  width: 100%;

  span.fullname {
    line-height: 18px;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
  }

  span.location {
    line-height: 14px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
  }
}
