<h3 mat-dialog-title>User Photo</h3>

<mat-dialog-content>

    <div fxFlex="180px">

        <!-- Ready Photo -->
        <img [src]="data.image" class="userPhoto" *ngIf="photoState.photoCropped">

        <!-- Image Cropper -->
        <img-cropper [hidden]="photoState.photoCropped" #cropper [image]="data" [settings]="cropperSettings" (onCrop)="onCrop(data)"></img-cropper>

    </div>

</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="start start" class="actions">

    <label for="photo">
        <button mat-raised-button color="primary" *ngIf="!photoState.photoSelected">BROWSE</button>
    </label>
    <input id="photo" type="file" style="display: none;" (change)="fileChangeListener($event)" />

    <button mat-raised-button color="primary" (click)="doCrop()" *ngIf="photoState.photoSelected && !photoState.photoCropped">
        CROP
    </button>

    <button mat-raised-button color="primary" (click)="onOk()" *ngIf="photoState.photoSelected && photoState.photoCropped">
        OK
    </button>

    <button mat-button (click)="onCancel()" *ngIf="photoState.photoSelected || photoState.photoExists">
        CANCEL
    </button>

</mat-dialog-actions>