<mat-toolbar fxLayoutAlign="start center" id="rw-header" color="primary">
    
    <span>
        <button mat-icon-button (click)="toggleSidenav()" class="iconFix">
            <mat-icon>menu</mat-icon>
        </button>
    </span>

    <span fxFlex="144px" *ngIf="isSidenavOpen$ | async">
        
        <span>
            <button mat-button routerLink="/">
                <!-- <h1>Optimus</h1> -->
                Optimus
            </button>
        </span>
    </span>
    
    <span [ngClass]="{'appNameInHeaderAndOptimus': (isSidenavOpen$ | async), 'appNameInHeader': !(isSidenavOpen$ | async)}">
        <h1>{{ appName$ | async }}</h1>
    </span>

    <span fxFlex></span>
    
    <span>
        <button mat-button [matMenuTriggerFor]="locationsMenu">
            {{ selectedLocation$ | async }} <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #locationsMenu="matMenu">
            <button mat-menu-item *ngFor="let location of locations$ | async" (click)="onSelectLocation(location.Location)">
                <span>{{ location.Location }}</span>
            </button>
        </mat-menu>
    </span>

    <!-- Show Current User Data -->
    <span *ngIf="isRegistered$ | async">
        <button mat-icon-button>
            <img [src]="photo$ | async" [alt]="initials$ | async" class="userPhoto">
        </button>
    </span >

</mat-toolbar>