<mat-toolbar fxLayoutAlign="start center" id="rw-header" color="primary">

  <span>
    <button mat-icon-button (click)="toggleSidenav()" class="iconFix">
      <!-- <mat-icon>menu</mat-icon> -->
      <span class="fa_regular">
        <fa-icon [icon]="['fas', 'bars']"></fa-icon>
      </span>
    </button>
  </span>

  <span fxFlex="144px" *ngIf="header.title">
    <span>
      <button mat-button routerLink="/">
        Optimus
      </button>
    </span>
  </span>

  <span [ngClass]="header.appNameClass">
    <h1>{{ appName$ | async }}</h1>
  </span>

  <span fxFlex></span>

  <!--
    Show Location selector
    for registered users only
    -->
  <app-header-location></app-header-location>

  <!--
    Show Current User Data
    for registered users only
    -->
  <app-header-user *ngIf="$isRegistered | async" [user]="$user | async">
  </app-header-user>

</mat-toolbar>