#rw-header {
    height: 56px;
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,.3); */
}

.locationSelect {
    color: #ffffff;
    background-color: #000000;
}

.iconFix {
    margin-top: -2px; 
}

.userPhoto {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.appNameInHeaderAndOptimus {
    padding: 0 10px 0 26px;
}

.appNameInHeader {
    padding: 0 10px 0 12px;
}