a.emailLink:link {
  font-size: 0.875em;
  font-weight: 400;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87) !important;
}

a.emailLink:visited {
  text-decoration: none;
}

a.emailLink:hover {
  text-decoration: underline;
}

a.emailLink:active {
  text-decoration: underline;
}

.nameSurname {
  font-size: 0.875em !important;
  font-weight: bold !important;
}

.peopleAvatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.itemContainer {
  min-height: 56px;
  padding: 0 16px;
}

.right {
  height: 40px;
  width: 40px;
}

.listItemMiddle {
  padding: 0 8px 0 16px;
}
