@import '../../../colors';

.sidenav__container {
  background: $my-blue-50;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 16px 0 16px 0;
  font-size: 0.875em;
  width: 100%;
  position: static;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px 8px 26px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.noSelect {
  outline-width: 0;
}
