<ul fxLayout="column" fxFlexFill>
    <li><a routerLink="/" class="noSelect" (click)="onSidenavClick()">Home</a></li>
    <li><a routerLink="/" class="noSelect" (click)="onSidenavClick()">Dashboard</a></li>
    <li><a routerLink="/people" class="noSelect" (click)="onSidenavClick()">People</a></li>
    <li><a routerLink="/people" class="noSelect" (click)="onSidenavClick()">PPE</a></li>
    <li><a routerLink="/harcs" class="noSelect" (click)="onSidenavClick()">HARCs</a></li>
    <li><a routerLink="/" class="noSelect" (click)="onSidenavClick()">Orders</a></li>
    <li><a routerLink="/" class="noSelect" (click)="onSidenavClick()">Jobs</a></li>
    <li><a routerLink="/" class="noSelect" (click)="onSidenavClick()">Appraisals</a></li>
    <li><a routerLink="/" class="noSelect" (click)="onSidenavClick()">Projects</a></li>
    <li><a routerLink="/" class="noSelect" (click)="onSidenavClick()">Tickets</a></li>
    <li><a routerLink="/" class="noSelect" (click)="onSidenavClick()">Exemptions</a></li>
</ul>
