<div
  class="form-title-container"
  fxLayout="row nowrap"
  fxLayoutAlign="start start"
>
  <div fxFlex class="form-title">Battery:</div>
  <app-form-control-location
    fxFlex="88px"
    class="cmn-form-component"
    fxLayout="row"
    [formGroup]="fg_fields"
    [fg_fields]="fg_fields"
    [mode]="data.mode"
    [accessLevel]="accessLevel$ | async"
    [locationAssignedId]="locationAssignedId"
    [locations]="locations$ | async"
  >
  </app-form-control-location>
</div>

<mat-dialog-content class="common-mat-dialog-content">
  <div class="cmn-form-container">
    <div
      class="con4"
      [ngClass]="{
        t2w3: !hasPhotoAndDetailsInViewMode && data.mode === 'view',
        t2w4: !hasPhotoAndDetailsInViewMode && data.mode === 'view'
      }"
    >
      <div class="con2" fxLayout="row wrap" fxLayoutAlign="start start">
        <!-- Title -->
        <app-batteries-form-title
          class="cmn-form-component t2w2-t2w3-t2w4"
          fxLayout="row"
          [fg_fields]="fg_fields"
          [mode]="data.mode"
        >
        </app-batteries-form-title>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row wrap" fxLayoutAlign="end">
  <app-batteries-form-actions
    class="common-form-actions-container"
    [fg_fields]="fg_fields"
    [initialFields]="data.item"
    [mode]="data.mode"
    [selfUser]="selfUser$ | async"
    (closeForm)="closeForm($event)"
    (switchFormMode)="switchFormMode($event)"
    (updateDataItem)="updateDataItem($event)"
  >
  </app-batteries-form-actions>
</mat-dialog-actions>
