.container {
  padding: 13px;
}

.avatar {
  font-size: 40px;
}

.title_group {
  margin-left: -16px;
}

.actions {
  padding: 0 16px;
  margin-bottom: -8px !important;
}

.mat-input-element:disabled {
  color: rgba(0, 0, 0, 0.87) !important;
}

.withPhoto {
  height: 150px !important;
  margin-bottom: 16px;
}

.noPhoto {
  margin-bottom: 16px;
}

.userPhoto {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
