<div class="container" fxLayout="column" fxFlex.xs="100" fxFlex="400px">

    <mat-card>
        <div class="photo__container" fxLayout="column" fxLayoutAlign="center center">

            <span class="noUserPhoto" *ngIf="!photoShow" (click)="openPhotoPicker()">
                <fa-icon [icon]="['far', 'user-circle']"></fa-icon>
            </span>

            <img *ngIf="photoShow" [src]="photoShow" class="userPhoto" (click)="openPhotoPicker()">
        </div>
        <mat-card-content>
            <form [formGroup]="fg_fields" fxLayout="row" fxLayout.xs="column">

                <div fxLayout="column" fxFlex="100">
                    <app-new-user-form-name [parent]="fg_fields"></app-new-user-form-name>
                    <app-new-user-form-surname [parent]="fg_fields"></app-new-user-form-surname>
                    <app-new-user-form-alias [parent]="fg_fields"></app-new-user-form-alias>
                    <app-new-user-form-email [parent]="fg_fields"></app-new-user-form-email>
                    <app-new-user-form-gin [parent]="fg_fields"></app-new-user-form-gin>
                    <app-new-user-form-location [parent]="fg_fields" [locations]="locations"></app-new-user-form-location>
                </div>
            </form>
        </mat-card-content>

        <mat-card-actions class="actions">
            <app-new-user-form-actions class="actions__container" fxLayout="row" fxLayoutAlign="end center" [fg_fields]="fg_fields" [fg_photo]="fg_photo"
                (onReset)="onReset()" (setFormPhotoID)="setFormPhotoID($event)" (resetArrayBuffer)="resetArrayBuffer()">
            </app-new-user-form-actions>
        </mat-card-actions>

    </mat-card>

</div>