<mat-toolbar>
  <mat-toolbar-row>
    <form [formGroup]="peopleFiltersForm">

      <span>
        <button mat-icon-button (click)="openForm('new')">
          <mat-icon>add</mat-icon>
        </button>
      </span>

      <span class="toolbarElement inputElement">
        <mat-form-field [floatPlaceholder]="'never'">
          <input  matInput 
                  placeholder="Search"
                  formControlName="query"
                  autocomplete="off">
        </mat-form-field>
      </span>
      

    </form>
    
  </mat-toolbar-row>
</mat-toolbar>