<div fxLayout="column" class="contentContainer">
  <h3>Welcome to Optimus!</h3>
  <p>The Optimization Suite - finely tuned for Wireline teams.</p>
  <p>Version: 0.23 Alpha (read only) 24-Nov-2017</p>
  <p>It is being developed by Zhandos Ombayev as a GFE project.</p>
  <p>At the moment, current users can ONLY READ data, but cannot add/update it. Moderation capability for public will be available in BETA realease.</p>
  <p>Current changes:</p>
  <p>Home: versioning and welcome statement for public</p>
  <p>People: added show progress bar when search call is working, no bugs so far</p>
  <p>PPE: working on presentation of catalog and sizes select option. Next, </p>
  <p>HARCs: added hyperlink to Quest. now testing slicing long titles to fix IE bug.</p>
  <p>Dashboard: finished with automatic syncing from databases, now working on automatic sliding, next add copability to let users contribute pages</p>
  <p>Orders: working on filters component</p>
  <p>Jobs: working on measure unit templates and unit-converter, next to link with Appraisals</p>
  <p>Projects: working on drag-n-drop project photo, next add hse/sq option</p>
  <p>Tickets: removed feature to add attachments, IT tickets should be archived in text only to optimize item size</p>
  <p>Exemptions: almost ready, finish add/edit feature</p>
  <p>Toolstring Composer: having problem with toolstring images, ordering works, but after first change images start to overlay.</p>
  <p>Header: bug fixed > Optimus show/hide in mobile devices. Next think to put Location Selectore in each App.Toolbar individually. Then header on mobile devices will be cleaner.</p>
</div>
