<div fxLayout="column" fxFlexFill class="listOfHarcs">
  
  <h3 class="harcGroupTitle">Wellsite Operations</h3>
  <mat-card *ngFor="let harc of harcs$ | async | harcGroup:'Wellsite Operations'" class="harcContainer">
    <div  
      fxLayout="column"
      fxLayout.gt-xs="row"
      fxLayoutAlign="space-between start"
      fxLayoutGap="12px">
      <span fxLayout="column">
        <div fxFlex class="title">{{ harc.Title }}</div>
        <div fxFlex class="number">HARC <a [href]="harc.qpid" target="_blank">{{ harc.Number }}</a></div>
      </span>
      <span fxLayout="column" class="harcStatus">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="harcDates">
          <span>{{ harc.Status }}</span>
          <span class="validToDate">{{ harc.ValidTo | date: "dd-MMM-yyyy" }}</span>
        </div>
        <mat-progress-bar
          [color]="getColorFromStatus(harc.Status)"
          [mode]="'determinate'"
          [value]="harc.percentsLeft"
          class="progressBar">
        </mat-progress-bar>
        <span
          class="daysLeft"
          [ngClass]="harc.Status === 'Approved' ? 'daysLeftApproved' : 'daysLeftPending'"
          *ngIf="harc.daysLeft">
          {{ harc.daysLeft }} days left
        </span>
      </span>
    </div>
  </mat-card>

  <h3 class="harcGroupTitle">Shop Operations</h3>
  <mat-card *ngFor="let harc of harcs$ | async | harcGroup:'Shop Operations'" class="harcContainer">
    <div  fxLayout="column"
          fxLayout.gt-xs="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="12px">
      <span fxLayout="column">
        <span class="title">{{ harc.Title }}</span>
        <span class="number">{{ harc.Number }}</span>
      </span>
      <span fxLayout="column" class="harcStatus">
        <span fxLayout="row" fxLayoutAlign="space-between center" class="harcDates">
          <span>{{ harc.Status }}</span>
          <span>{{ harc.ValidTo | date: "dd-MMM-yyyy" }}</span>
        </span>
        <mat-progress-bar
          [color]="getColorFromStatus(harc.Status)"
          [mode]="'determinate'"
          [value]="harc.percentsLeft"
          class="progressBar">
        </mat-progress-bar>
        <span
          class="daysLeft"
          [ngClass]="harc.Status === 'Approved' ? 'daysLeftApproved' : 'daysLeftPending'"
          *ngIf="harc.daysLeft">
          {{ harc.daysLeft }} days left
        </span>
      </span>
    </div>
  </mat-card>

</div>
  