.sidenav-inner-container {
  // background: #fff;
  margin: 0 16px;
  // padding: 16px 0;
  box-sizing: border-box;
  width: 224px;
  border-radius: 8px;
  // border: 1px solid #dadada;

  .app-location {
    width: 100%;
    // margin-bottom: 8px;
  }

  .app-list-container {
    min-width: 224px;
    max-width: 224px;
    overflow: hidden;
    padding-top: 8px;
    padding-bottom: 8px;

    .applications {
      width: 224px;
      padding: 0 8px;
      font-size: 14px;
      font-weight: 500;
      line-height: 32px;
      color: rgba(0, 0, 0, 0.5);
    }

    .sidenav-content-app-v2 {
      width: 112px;
    }
  }

  .app-location-links {
    width: 100%;
  }
}
