@import '../../colors';

/*  fixed iOS safari viewport height issue with viewport-units-buggyfill 
    init added in app.component.ts
    9-May-2018 Zhandos Ombayev */
.sidenavContainer {
  height: 100vh !important;
  width: 100%;
  // background: #e3f2fd; // version 1
  background: #fafafa; // version 1.1
}

mat-sidenav {
  width: 256px;
}

.contentWrapper {
  height: 100%;
}
