<!-- <app-header></app-header> -->

<mat-sidenav-container class="sidenavContainer" (backdropClick)="onSidenavClose()">

  <!-- Sidenav Container -->
  <mat-sidenav *ngIf="!(userBootstrap$ | async)?.bootstrapping" [opened]="sidenavOpened$ | async" [mode]="sidenavMode$ | async"
    (close)="onSidenavClose()">

    <!-- Sidenav Content -->
    <app-sidenav></app-sidenav>

  </mat-sidenav>

  <!-- Content Container -->
  <div ng-sidebar-content fxLayout="column" fxFlexFill class="common-mat-content-container">
    <router-outlet></router-outlet>
    <app-bootstrap-user fxFlex fxLayout="column" fxLayoutAlign="center center" *ngIf="(userBootstrap$ | async)?.bootstrapping"
      [userBootstrap]="(userBootstrap$ | async)" class="common-content"></app-bootstrap-user>
  </div>

</mat-sidenav-container>