.battery-container {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.07);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);

  &:hover {
    background-color: #bbdefb !important;
    cursor: pointer;
  }

  &.battery-new {
    background-color: #b9f6ca;
  }

  &.battery-has-charge {
    background-color: #ffff8d;
  }

  &.battery-no-charge {
    background-color: #ff9e80;
  }
}

.battery-icon {
  margin: 8px;
}

.serial {
  //   margin: 8px 0 2px 0;
  font-size: 1rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.75);
  height: 20px;

  &:hover {
    color: rgba(0, 0, 0, 1);
  }
}

.hours {
  //   margin: 2px 0 8px 0;
  padding: 0 8px;
  height: 20px;
  font-size: 0.87rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.75);
}
