<div class="battery-container" fxFlex="100" fxLayout="row nowrap">
  <div class="common-button battery-icon" fxFlex="40px">
    <button
      mat-icon-button
      [matTooltip]="getHoursLeft(battery.Hours)"
      matTooltipClass="mytooltip large-text"
      (click)="openForm.emit(battery)"
    >
      <!-- depending on Hours, show different battery icons -->
      <span class="fa_regular">
        <fa-icon [icon]="['fas', getBatteryIcon(battery.Hours)]"></fa-icon>
      </span>
    </button>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="start center">
    <div class="serial" fxFlex>{{ battery.Serial }}</div>
    <div class="hours" fxFlex="130px">{{ battery.Hours }} hours used</div>
  </div>
</div>
