@import '../../../../../../colors';

div.selectable-user-photo-container {
    width: 36px;
    height: 36px;
    
    img {
        border-radius: 50%;
        height: 36px !important;
        width: 36px !important;
    }
}
  
.selectable__user--info {
    height: 40px;
    width: 100%;

span.fullnameSelect {
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    min-width: 116px;
    max-width: 200px;
    color: rgba(0, 0, 0, 0.75);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.second_line {
    height: 16px;
    width: 100%;
    overflow: hidden;

    span {
    line-height: 16px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    }
}
}

.prefix-as-chip {
    padding: 4px 8px;
    margin: 0;
    border-radius: 24px;
    font-size: 14px;
    line-height: 16px;
    height: 16px;
    width: 24px;
    text-align: center;
    background: #ccc;
}

.userSelected {
    background: $my-blue-50;
}