.location-link-container {
  padding: 0 16px;
  height: 34px;
  font-size: 14px;
  line-height: 34px;
  color: rgba(0, 0, 0, 0.75);

  .linkType {
    width: 20px;
    margin-right: 8px;
    text-align: center;
  }
}
