@import '../../../../../colors';

.harcs-list-container {
  margin: 0 auto;
  padding-left: 16px;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  @media screen and (min-width: 600px) {
    min-width: 600px;
    max-width: 600px;
  }
}

app-harcs-list-item {
  // display: block;
  position: relative;
  z-index: 0;
  width: 100%;
  min-height: 54px;
  max-height: 70px;
  padding: 0 4px;
  // background: #fcfcfc;
  // border: 1px solid $my-blue-100;
  // border-bottom: 1px solid $my-blue-100;
  border-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 8px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  @media screen and (min-width: 600px) {
    // width: auto;
  }

  &.last-item {
    margin-right: 16px;
  }

  &.status-pending {
    background: $my-yellow-100;
  }
}
