div.selectable-user-photo-container {
    width: 36px;
    height: 36px;
    
    img {
        border-radius: 50%;
        height: 36px !important;
        width: 36px !important;
    }
}
  
.selectable__user--info {
    height: 40px;
    width: 100%;

span.fullname {
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.75);
}

div.second_line {
    height: 16px;
    width: 100%;
    overflow: hidden;

    span {
    line-height: 16px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    }
}
}