// my color themes
$my-primary: #2196f3;
$my-primary-light: #9be7ff;
$my-primary-dark: #0069c0;
$my-accent: #ffc107;
$my-warn: #f44336;

// my color sets
$my-blue-50: #e3f2fd;
$my-blue-100: #bbdefb;
$my-blue-200: #90caf9;
$my-red-50: #ffebee;
