// my color themes
$my-primary: #2196f3;
$my-primary-light: #9be7ff;
$my-primary-dark: #0069c0;
$my-accent: #ffc107;
$my-warn: #f44336;

// my color sets

$my-blue-50: #e3f2fd;
$my-blue-100: #bbdefb;
$my-blue-200: #90caf9;

$my-green-50: #e8f5e9;

$my-red-50: #ffebee;
$my-red-100: #ffcdd2;
$my-red-200: #ef9a9a;
$my-red-300: #e57373;
$my-red-500-light: #ff7961;

$my-yellow-50: #fffde7;
$my-yellow-100: #fff9c4;
$my-yellow-150: #fff59d;
$my-yellow-500-light: #fff350;
