@import 'colors';

$mdc-theme-primary: #2196f3; // primary color
$mdc-theme-secondary: #ffc107; // secondary color
$mdc-theme-background: #fff;

@import '~@angular-mdc/theme/material';

/* You can add global styles to this file, and also import other style files */
html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
  text-size-adjust: 100%;
  height: 100vh;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  vertical-align: baseline;
}

// must have for iOS Safari correct viewport height rendering
// applied with buggy-fill
app-root {
  height: 100vh;
}

// must have for iOS Safari correct viewport height rendering
app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.common-parent-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: stretch;
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;
}

.bootstrapping-user {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;
}

.common-app-container {
  // properties as flex container
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  // other styles
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  overflow: hidden;
  background: #e3f2fd;
  // position
  // position: relative;
}

// v2 for filters right menu
.common-app-v2-container {
  // properties as flex container
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  // other styles
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  overflow: hidden;
  background: #e3f2fd;
  // position

  &.filtersOpened {
    @media screen and (min-width: 856px) {
      width: calc(100% - 256px);
      min-width: calc(100% - 256px);
      max-width: calc(100% - 256px);
    }
  }
}

.common-body-container {
  // properties as flex container
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  // other styles
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  overflow: hidden;
  background: #e3f2fd;
}

.common-header {
  background: $my-blue-100;
  border-bottom: 1px solid $my-blue-100;
  padding: 0 16px;
  // height: 65px;
  position: relative;
}

.common-content {
  // flex: 1 1 auto;
  display: block !important;
  // margin: auto;
  overflow-y: auto;
  // height: auto;
  // width: auto;
  padding: 16px 0;
  overflow: overlay;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.common-footer {
  background: $my-blue-100;
  border-top: 1px solid $my-blue-100;
  padding: 0 16px;
  color: rgba(0, 0, 0, 0.75);
  font-size: 1rem;
  overflow: hidden;
  // height: 49px;

  .common-footer-container {
    width: 100%;
    height: 48px;
    margin: auto;
    padding: 0;

    @media screen and (min-width: 600px) {
      padding: 0 16px;
      min-width: 600px;
      max-width: 600px;
    }
  }
}

.common-toolbar {
  margin: 8px auto;
  height: 48px;
  padding: 0 4px;
  border-radius: 4px;
  background: $my-blue-50;
  position: relative;

  &.focused {
    box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
    background: white;
  }

  &.invalid {
    box-shadow: 0 0 0 0.1rem $my-warn;
  }
}

.common-toolbar-item {
  height: 40px;
}

.common-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;

  &:hover {
    color: rgba(0, 0, 0, 0.875);
    background: $my-blue-50;
  }

  &.warn {
    color: $my-warn;
  }

  // &.my-footer {
  //   &:hover {
  //     // background: $my-blue-100;
  //   }
  // }
}

.common-toolbar-input-container {
  padding: 0 4px;
}

input.common-toolbar-input-search {
  height: 24px;
  border: 0;
  padding: 0;
  line-height: 20px;
  font-size: 16px;
  margin: auto 0;
  background: transparent;
  outline: none;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  vertical-align: middle;

  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  &:focus {
    color: rgba(0, 0, 0, 0.875);
    background-color: transparent;
  }

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Roboto';
    color: rgba(0, 0, 0, 0.5);
    line-height: 22px;
    font-size: 16px;
    font-weight: 500;
    // margin: auto 0;
    opacity: 1; /* Firefox */
    // vertical-align: bottom;
  }

  &:-ms-input-placeholder {
    //   /* Internet Explorer 10-11 */
    font-family: 'Roboto';
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.5);
    line-height: 22px;
    font-weight: 500;
  }

  &::-ms-input-placeholder {
    //   /* Microsoft Edge */
    font-family: 'Roboto';
    color: rgba(0, 0, 0, 0.5);
    line-height: 22px;
    font-size: 16px;
    font-weight: 500;
  }
}

.common-content-container {
  margin: 0 auto;
  padding-left: 16px;
  display: block;
  overflow: overlay;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  @media screen and (min-width: 600px) {
    // padding-left: 16px;
    min-width: 600px;
    max-width: 600px;
  }
}

.common-content-item {
  width: 100%;

  @media screen and (min-width: 600px) {
    width: auto;
  }

  &.last {
    margin-right: 16px !important;
  }
}

.common-list-item {
  // display: block;
  width: 100%;
  height: 56px;
  padding: 0;
  background: #fcfcfc;
  // border-bottom: 1px solid $my-blue-200;
  border-bottom: 1px solid $my-blue-100;
  border-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 8px;

  @media screen and (min-width: 600px) {
    width: auto;
  }
}

mat-progress-bar.common-searching-indicator {
  position: absolute !important;
  height: 4px;
  margin-top: 0px;
  z-index: 2000;
  top: 0;
  left: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

.flexToolbar {
  flex: 0 0 auto;
  flex-basis: 64px;
}

.flexContent {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
}

.flexFooter {
  flex: 0 0 auto;
  flex-basis: 56px;
}

.my-form-field_container {
  margin-bottom: 0.5rem;
}

/* to fix zooming input fields on mobile devices */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}

// list items
.my-item-container {
  background: white;
  height: 4rem;
  min-height: 4rem;
  padding: 0 1rem;
}

.my-progress__container {
  position: relative;
  // top: 16px;
  top: 2px;
  // z-index: 1;
}

.my-progress__spinner {
  z-index: 1;
}

.my-progress__value {
  box-sizing: border-box;
  position: absolute;
  font-size: 0.875rem;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  // background: #9be7ff;
  // border: 4px solid $my-primary-light;
  border: 4px solid #ddd;
  border-radius: 50%;
  text-align: center;
  line-height: 34px;
  // z-index: -1;
}

.my-item__title--container {
  overflow: hidden;
}

.my-item__secondrow {
  font-size: 0.875rem;
  a {
    color: #1976d2;
    text-decoration: none;
  }
  a.text--accent {
    text-decoration: underline;
    text-decoration-color: $my-accent;
  }
  app-exemptions-status {
    margin: 6px 4px 4px 4px;
    // padding: 4px;
  }
}

.textXXS {
  font-size: 13px;
}

.mat-chip.mat-basic-chip {
  margin: 0px 0px;
  line-height: 15px;
  padding: 4px 8px;
  border-radius: 4px;
  color: black;
  background-color: #ddd;
}

.mat-chip.mat-basic-chip.mat-primary {
  color: white;
  background-color: $my-primary;
}

.mat-chip.mat-basic-chip.mat-accent {
  color: black;
  background-color: $my-accent;
}

.my-section__text {
  line-height: 1rem;
  font-weight: 600;
  background-color: #eee;
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.875rem;
  margin: 0;
  padding: 20px 16px 12px 16px;
}

// #MYMDC

// .my-mdc-card {
//   margin: 0 16px;
//   // padding: 8px;
// }

.my-padding_8 {
  padding: 1rem;
}

.my-section {
  line-height: 0.875rem;
  color: #999;
  font-size: 0.875rem;
  margin: 1rem;
  padding: 0;
}

// clipped text, 'I am a sentence with clipped...'
// depends on parent width value
.txt__clipped {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// container that grows in both x and y directions
// used in app-ppe
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  // min-height: 100%;
  width: 100%;
  min-width: 100%;
  overflow: hidden;
}

// duplicates the style of mat-hint
// but is also multiline and may wrap
.my-hint__multiline {
  margin: -13.5px 0 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 13.5px;
  color: rgba(0, 0, 0, 0.54);
}

// fixes height of button with text in span container
// in mat-dialog-options
span.g_form-button__text {
  line-height: 15px;
}

// span.g_form-button__text.has-spinner {
//   padding-right: 4px;
// }

// my customization of material and fontawesome icons

button.mat-button__fa-icon.mat-button.mat-primary {
  padding: 0;
  min-width: 36px;
  max-height: 36px;
}

.cta__fa-icon {
  font-size: 20px;
}

.inputquery__error--icon {
  color: $my-warn;
}

.fa_regular {
  font-size: 1rem;
}

.fa_userphoto {
  font-size: 125px;
}

.my__footer--pagination {
  height: 56px;
  background: $my-blue-50;
}

.footerButton__container {
  padding-left: 8px;
  padding-right: 8px;
}

.footerButton__wrapper {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  :hover {
    background: #b3e5fc;
  }
}

.toolbarButton__wrapper--primary {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.5);
  :hover {
    background: $my-blue-100;
    color: rgba(0, 0, 0, 0.875);
  }
}

.toolbarButton__wrapper--warn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  :hover {
    background: $my-red-50;
  }
}

// USER PHOTO PICKER

.userPhotoCropped {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

input[type='text']::-ms-clear {
  display: none;
}

::-ms-reveal {
  display: none;
}

.common-user-photo__matoption {
  border-radius: 50%;
  // margin: 4px;
  height: 32px;
  width: 32px;
}

.sidenav-app-component {
  border-radius: 4px;

  &:hover {
    background: $my-blue-100;
  }
}

.status-check-container {
  box-sizing: border-box;
  padding: 4px;
  height: 32px;

  display: flex;
  flex-flow: row nowrap;
}

button.status-check-button {
  margin-left: 4px;
  width: 24px;
  height: 24px;
  font-size: 14px;
  font-weight: 400;
  color: $my-blue-50 !important;
  border-radius: 4px;
  border: 0;

  &.accent {
    // background: $my-yellow-50;
    background: $my-yellow-150;
  }
  &.warn {
    // background: $my-red-50;
    background: $my-red-100;
  }

  &.mat-button {
    min-width: 24px !important;
    max-width: 24px !important;
    padding: 0 !important;
    line-height: 22px;

    div.accent {
      // color: $my-accent;
      color: rgba(0, 0, 0, 0.75);
      line-height: 24px;
    }

    div.warn {
      // color: $my-red-300;
      color: rgba(0, 0, 0, 0.75);
      line-height: 24px;
    }

    &:hover {
      background: $my-blue-50 !important;
      color: $my-primary !important;
    }
  }

  .mat-button-wrapper,
  .mat-button-ripple.mat-ripple,
  .mat-button-focus-overlay {
    width: 24px !important;
    height: 24px !important;
  }
}
