@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

$my-primary: #2196f3;
$my-primary-light: #9be7ff;
$my-primary-dark: #0069c0;
$my-accent: #ffc107;

/* You can add global styles to this file, and also import other style files */
html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
  text-size-adjust: 100%;
  height: 100vh;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  vertical-align: baseline;
}

app-root {
  height: 100vh;
}
app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.loading {
  margin: 0;
  height: 100vh;
  background-color: #2196f3;
}

.loadingOptimus {
  display: block;
  margin: auto;
  width: 216px;
  padding: calc(100vh - 50vh) 0 0 0;
}

/* mat-sidenav-container {
    height: calc(100vh - 56px) !important;
    width: 100%;
} */

.optimus-sidebar {
  width: 200px;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

.flexToolbar {
  flex: 0 0 auto;
  flex-basis: 64px;
}

.flexContent {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
}

.flexFooter {
  flex: 0 0 auto;
  flex-basis: 56px;
}

.my-form-field_container {
  margin-bottom: 0.5rem;
}

.mat-dialog-container {
  background-color: #f6f5f4 !important;
}

.mat-dialog-content {
  padding-top: 20px !important;
  background-color: #ffffff !important;
}

.mat-dialog-title {
  margin-bottom: 5px !important;
}

/* to fix zooming input fields on mobile devices */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}

// list items
.my-item-container {
  height: 4rem;
  min-height: 4rem;
  padding: 0 1rem;
}

.my-progress__container {
  position: relative;
}

// .my-progress__spinner {
//   position: absolute;
// }

.my-progress__value {
  box-sizing: border-box;
  position: absolute;
  font-size: 0.875rem;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  // background: #9be7ff;
  // border: 4px solid $my-primary-light;
  border: 4px solid #ddd;
  border-radius: 50%;
  text-align: center;
  line-height: 34px;
  z-index: -1;
}

.my-item__title--container {
  overflow: hidden;
}

.my-title__clipped {
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.my-item__secondrow {
  font-size: 0.875rem;
  a {
    color: #1976d2;
    text-decoration: none;
  }
  a.text--accent {
    text-decoration: underline;
    text-decoration-color: $my-accent;
  }
  app-exemptions-status {
    margin: 6px 4px 4px 4px;
    // padding: 4px;
  }
}

.textXXS {
  font-size: 13px;
}

.mat-chip.mat-basic-chip {
  line-height: 15px;
  padding: 0px 4px;
  border-radius: 4px;
  color: black;
  background-color: #ddd;
}

.mat-chip.mat-basic-chip.mat-primary {
  color: white;
  background-color: $my-primary;
}

.mat-chip.mat-basic-chip.mat-accent {
  color: black;
  background-color: $my-accent;
}

.my-section__text {
  line-height: 1rem;
  font-weight: 600;
  background-color: #eee;
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.875rem;
  margin: 0;
  padding: 20px 16px 12px 16px;
}
