<div
  class="batteries-filters-container"
  fxLayout="row nowrap"
  fxLayoutAlign="start start"
>
  <mat-form-field [formGroup]="fg_filters">
    <mat-select placeholder="Battery Status" formControlName="status">
      <mat-option *ngFor="let status of statuses" [value]="status">
        {{ status }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div fxFlex></div>

  <app-filters-locations
    fxFlex="80px"
    [fg_filters]="fg_filters"
    [locofinterest]="locofinterest"
    (updateLocationsofinterest)="updateLocationsofinterest($event)"
  >
  </app-filters-locations>
</div>
