@import '../../../../../colors';

.orders-list-container {
  margin: 0 auto;
  padding-left: 16px;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  @media screen and (min-width: 600px) {
    min-width: 600px;
    max-width: 600px;
  }
}

app-orders-list-item {
  // display: block;
  position: relative;
  z-index: 0;
  width: calc(100% - 16px);
  min-height: 54px;
  // max-height: 86px;
  // padding: 0 4px;
  // background: #fcfcfc;
  // border: 1px solid $my-blue-100;
  // border-bottom: 1px solid $my-blue-100;
  border-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 8px;

  @media screen and (min-width: 600px) {
    width: 568px;
    // width: auto;
  }

  &.last-item {
    margin-right: 16px;
  }
}
