.sidenavContainer {
  height: calc(100vh - 56px) !important;
  width: 100%;
  background: #f5f5f5;
}

mat-sidenav {
  width: 200px;
}

.contentWrapper {
  /* padding: 13px; */
  height: 100%;
}

.workingOnRequest {
  position: absolute;
  margin-top: 0px;
  z-index: 2000;
}
