/*  fixed iOS safari viewport height issue with viewport-units-buggyfill 
    9-May-2018 Zhandos Ombayev */
.sidenavContainer {
  height: calc(100vh - 56px) !important;
  content: 'viewport-units-buggyfill; height: calc(100vh - 56px);';
  width: 100%;
  background: #f5f5f5;
}

mat-sidenav {
  width: 200px;
}

.contentWrapper {
  height: 100%;
}
