<span mat-dialog-title style="text-align: center;">{{ Title }}</span>
<mat-dialog-content class="common-mat-dialog-content">
  <div class="cmn-form-container">
    <div class="group-of-4" fxLayout="row wrap" fxLayoutAlign="start start">
      <div
        class="group-of-1 take-2-when-2"
        fxLayout="row wrap"
        fxLayoutAlign="center start"
      >
        <app-people-form-photo
          class="cmn-form-component"
          *ngIf="fg_photo"
          [fg_photo]="fg_photo"
          [mode]="data.mode"
          (photoChanged)="photoChanged($event)"
        >
        </app-people-form-photo>
      </div>

      <div class="group-of-3" fxLayout="row wrap" fxLayoutAlign="start start">
        <app-people-form-name
          class="cmn-form-component"
          [fg_fields]="fg_fields"
        >
        </app-people-form-name>

        <app-people-form-surname
          class="cmn-form-component"
          [parent]="fg_fields"
        >
        </app-people-form-surname>

        <app-people-form-alias class="cmn-form-component" [parent]="fg_fields">
        </app-people-form-alias>

        <app-people-form-email class="cmn-form-component" [parent]="fg_fields">
        </app-people-form-email>

        <app-people-form-gin class="cmn-form-component" [parent]="fg_fields">
        </app-people-form-gin>

        <app-people-form-shortname
          class="cmn-form-component"
          [fg_fields]="fg_fields"
          [mode]="data.mode"
        >
        </app-people-form-shortname>

        <div class="group-of-3">
          <div class="form-group-title">Job Duties</div>

          <app-people-form-position
            class="cmn-form-component"
            fxLayout="row"
            [fg_fields]="fg_fields"
            [ual]="ual$ | async"
            [mode]="data.mode"
            [positions]="peoplePositions$ | async"
          >
          </app-people-form-position>
        </div>

        <div class="group-of-3" fxLayout="row wrap" fxLayoutAlign="start start">
          <div class="form-group-title">Locations</div>

          <app-people-form-location
            class="cmn-form-component"
            [fg_fields]="fg_fields"
            [mode]="data.mode"
            [locations]="$locations | async"
            [ual]="ual$ | async"
          >
          </app-people-form-location>

          <app-people-form-locations
            class="cmn-form-component"
            [fg_fields]="fg_fields"
            [mode]="data.mode"
            [locations]="$locations | async"
          >
          </app-people-form-locations>
        </div>

        <div
          class="group-of-3"
          fxLayout="row wrap"
          fxLayoutAlign="start start"
          *ngIf="isPSDM || data.mode === 'view'"
        >
          <div class="form-group-title">Direct Reports</div>

          <app-form-control-people-selector
            class="cmn-form-component t2-w2-t1-w3-t2-w4"
            fxLayout="row wrap"
            [fg_fields]="fg_fields"
            [mode]="data.mode"
            [fieldName]="'DirectReportsId'"
            [displayName]="'Direct Reports'"
            [selfUser]="selfUser$ | async"
            [singleLocation]="false"
            [forPeople]="true"
            [allowNumberOfUsers]="6"
            (onSelectUser)="onSelectDirectReport($event)"
            [id]="1"
            [includeOnly]="operators"
          >
          </app-form-control-people-selector>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row wrap" fxLayoutAlign="end">
  <app-people-form-actions
    [fg_fields]="fg_fields"
    [fg_photo]="fg_photo"
    [initialFields]="data.item"
    [mode]="data.mode"
    [currentUser]="currentUser$ | async"
    (updateDataItem)="updateFormGroupFields($event)"
    (updateFormGroupPhoto)="updateFormGroupPhoto($event)"
    (switchFormMode)="switchFormMode($event)"
    (closeUserForm)="closeUserForm($event)"
  >
  </app-people-form-actions>
</mat-dialog-actions>
