app-kaizen-project {
  width: 100%;

  @media screen and (min-width: 600px) {
    width: auto;
  }

  &.project-last {
    margin-right: 16px;
  }
}

div.kaizen-projects-list--container {
  margin: 0 auto;
  padding-left: 16px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  @media screen and (min-width: 600px) {
    min-width: 600px;
    max-width: 600px;
  }
}
